body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #0a0a0a;
    padding: 7px 7px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    z-index: 1000;
}

header h1 {
    color: #fff;
    margin: 0;
}

nav {
    background-color: #007bff;
    padding: 10px;
    text-align: center;
    margin-top: 50px; /* Ensure nav is below header */
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #0056b3;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button.btn-primary:hover {
    background-color: #0056b3;
}

#editor {
    border: 1px solid #ddd;
    border-radius: 5px;
}

#knowledge-holder-list {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#knowledge-holder-list div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#knowledge-holder-list div:last-child {
    border-bottom: none;
}
